mixin input-checkbox(text, value)
  .input-checkbox
    input(type='checkbox' id=text value=value)
    label(for=text)= text

mixin corner-big(text)
  .corner-big
    .corner
      p= text
    .underline

mixin corner-small(text)
  .corner-small
    .corner
      p= text
    .underline

mixin title-product(text, arrow)
  .title-product
    p= text
    if arrow != undefine
      img(src='./assets/images/arrow.png')

mixin image(name)
  img(src='./assets/images/'+ name)

mixin price-product(price)
  .price-product
    p
      =price 
      sup đ

mixin btn-add-to-card
  .btn-add-to-card
    button ADD TO CARD

mixin time-box(num, text)
  .time-box
    p= num
    p= text

mixin product(link, title, price1, price2, text='')
  .product
    .product__image
      +image(link)
    .product__compare
      a(href='')
        i.fa.fa-heart
        p Yêu thích
      a(href='')
        i.fa.fa-signal
        p So sánh
      a(href='')
        i.fa.fa-compress
    .product__title
      p= title
    .product__price
      p 
        =price1
        sup đ
      p -
      p 
        =price2
        sup đ
    +btn-add-to-card
    if text != ''
      +corner-small(text)


mixin title-main(text)
  .title-main
    p= text
    +image('title.png')

mixin index-images-item(link)
  .index-images__item
    +image(link)
    .index-images__item__hover
      p 1987
      p RƯỢU

mixin blog-item(link, title, info, content)
  .blog-item
    .blog-item__image
      +image(link)
      .blog-item__image__hover
        .blog-item__hover__bg
        .blog-item__hover__icon
          i.fa.fa-link
        a(href='#')
    .blog-item__title
      p= title
    .blog-item__info
      p= info
    .blog-item__content
      p= content
      a(href='#') Read more

mixin detail-title(text, active)
  if active == true
    .detail-title.active
      p= text
  else
    .detail-title
      p= text
